@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title-text white-text">Top Trumps</h1>
    <div class="row">
        <div class="col">
            <div class="options-button-container">
                <button class="generic-button" onclick="location.href='/Home/View'">View Deck</button>
            </div>
        </div>
        <div class="col">
            <div class="options-button-container">
                <button class="generic-button" onclick="location.href='/Home/Start'">Start Game</button>
            </div>
        </div>
        <div class="col">
            <div class="options-button-container">
                <button class="generic-button" onclick="location.href='/Home/Create'">Create Deck</button>
            </div>
        </div>
    </div>
</div>
